
.fondo{

  height: 100vh;

  background-image: 
    linear-gradient(
        to bottom,
        white 10%, 
        rgb(105, 198, 230), 
        white 95%
    );
}

.header{
  height: 22vh;
} 

.foot{
  font-size: 0.8em;
}

@media only screen and (max-width: 600px) {

  .header{
    height: 20vh;
  } 
  

}

